body{
    font-family: "Sour Gummy", serif;
}

/*== NAV BAR ==*/
.navbar-brand img{
    height: 3rem;
}

.navbar{
    font-weight: 600;
    box-shadow: 0 .5rem .5rem rgba(0, 0, 0, .1)
}

.nav-item{
    padding: .13rem;
    font-size: 1.2rem;
}

.nav-link:hover{
    color: #087CA7;
}

/*== Landing ==*/
.home-inner{
    background-image: url('images/dogsrunning.jpg');
    filter: blur(2px);
}

.caption{
    width: 100%;
    max-width: 100%;
    position: absolute;
    top: 38%;
    z-index: 1;
    color: white;
    background-color: rgba(0,0,0, 0.4);
    padding: 20px;
}

.caption h1{
    text-transform: uppercase;
    font-size: 3.8rem;
    font-weight: 700;
    letter-spacing: .3rem;
    text-shadow: .1rem .1rem .8rem black;
}

.caption h3{
    text-shadow: .1rem .1rem .8rem black;
}

/*== Footer ==*/
footer{
    text-align: center;
    padding: 15px;
    color: #c9c9c9;
    
}

